
/*       INITIALISATION            */

html, body, p, div, h1, h2, h3, h4, h6, span, ul {
	padding: 0;
	margin: 0;
	font-family: 'Tenor Sans', sans-serif;
	
}

body {
	min-width: 500px;
	color: black;
	background-color: #FAFAFA;
	font-size: 20px;
}

ul {
	list-style-type: none;
}

li {
	/*padding: 6px;
	margin: 4px;*/
}




/*         GLOBAL-UI            */

#global-ui {
	width:100%;
}

.column-wrap {
	width: 300px;
	display: inline-block;
	vertical-align: top;
	min-height: 600px;
}

/*       list column     */


#list-column-wrap {
	display: none;
}

/*#list-column-wrap {
	width: 150px;
	padding-left: 5px;
	position: relative;
	margin-right: 10px;
}

#list-column-header {
	font-size: 20px;
	margin: 37px 0px 17px 5px;
	color: #585858;
}

div#list-column {
	overflow: hidden;
	position: absolute;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#list-column ul {
	padding: 15px 5px 15px 0px;
	background-color: #2074C2;
	width: 145px;
}

#list-column ul li {
	width: 245px;
	padding: 3px 5px;
	color: white;
	font-size: 17px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}*/

/*     3 lists    */

#col1-wrap {
	margin-left: 100px;
}

.column-header {
	color: #045FB4;
	padding: 0 6px;
	min-width: 240px;
	margin-top: 5px;
	margin-bottom: 15px;
}

.pictos-bar {
	opacity: 0.8;
	margin-bottom: 2px;
}

.list-title {
	font-size: 25px;
	background-color: #58ACFA;
	color: #FAFAFA;
	padding: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 4px 4px 10px 5px #BDBDBD;
}

/*span.titre-col {
	margin: 0px;
	box-shadow: 0 0;
	font-size: 20px;
	display: block;
	position: relative;
	left: 0px;
}*/

.list-column ul li {
	width: 400px;
}

span.line {
	background-color: white; 
	border-radius: 15px;
	box-shadow: 6px 6px 20px 4px #E6E6E6;
	padding: 6px 10px;
	margin: 3px 4px;	
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	max-height: 20px;
}


/*     label column      */

div#label-column-wrap {
	width: 130px;
	padding: 5px;
	display: inline-block;
	position: absolute;
	right: 0;
}

div#label-column-header {
	font-size: 20px;
	margin: 5px 0px;
	color: #585858;
}

div#label-column {
	background-color: #585858;
	min-height: 1000px;
	padding: 2px;
}

div#label-column ul {
	padding: 0px;
}

div#label-column ul li {
}

span.label {
	background-color: transparent;
	color: #FAFAFA;
	font-size: 12px;
	border: solid 1px #585858;
	display: inline-block;
	margin: 0px;
	padding: 4px;
}


















