
/*       INITIALISATION            */

html, body, p, div, h1, h2, h3, h4, h6, span, ul {
	padding: 0;
	margin: 0;
	font-family: 'Tenor Sans', sans-serif;
	
}

body {
	min-width: 500px;
	color: black;
	background-color: #FAFAFA;
	font-size: 16px;
}

ul {
	list-style-type: none;
}

li {
	/*padding: 6px;
	margin: 4px;*/
}




/*         GLOBAL-UI            */

#global-ui {
	width:100%;
}

#global-header {
	height: 20px;
}

/*       list column     */


#list-column-wrap {
	display: none;
}

/*#list-column-wrap {
	width: 150px;
	padding-left: 5px;
	position: relative;
	margin-right: 10px;
}

#list-column-header {
	font-size: 20px;
	margin: 37px 0px 17px 5px;
	color: #585858;
}

div#list-column {
	overflow: hidden;
	position: absolute;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#list-column ul {
	padding: 15px 5px 15px 0px;
	background-color: #2074C2;
	width: 145px;
}

#list-column ul li {
	width: 245px;
	padding: 3px 5px;
	color: white;
	font-size: 17px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}*/

/*     3 lists    */

.column-wrap {
	width: 310px;
	display: inline-block;
	vertical-align: top;
	min-height: 600px;
}

#col1-wrap {
	margin-left: 100px;
}

.column-header {
	/*color: #045FB4;*/
	padding: 0 6px;
	min-width: 240px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.pictos-bar {
	display: none;
}

/*.pictos-bar {
	color: #585858;
	opacity: 0.8;
	margin-bottom: 2px;
}*/

.list-title {
	font-size: 20px;
	font-weight: bold;
	color: #424242; 
	background-color: transparent;
	padding: 4px 0px;
	border-radius: 3px;
	/*border: solid 1px #D8D8D8;*/
	/*border-left: solid 0px #424242; */
	border-bottom: solid 2px #424242; 
	/*box-shadow: 4px 4px 10px 5px #BDBDBD;*/
}

.label-zone {
	padding: 0px;
	margin: 6px 0px;
	/*background-color: #E6E6E6;*/
}

.line-list {
	/*border-top: solid 1px #424242; */
	padding-top: 5px;
}

.line-list ul li {
}

span.line {
	background-color: transparent; 
	/*border: solid 1px #FAFAFA;*/
	border-radius: 3px;
/*	box-shadow: 6px 6px 20px 4px #E6E6E6;
*/	padding: 4px 6px;
	margin-top: 2px;	
	display: inline-block;
	max-height: 16px;
	width: 285px;
}


/*     label column      */

div#label-column-wrap {
	min-width: 100px;
	max-width: 200px;
	padding: 0px;
	padding-top: 5px;
	color: #585858;
	display: inline-block;
	position: absolute;
	right: 0;
}

div#label-column-header{
	display: none;
}

/*div#label-column-header {
	font-size: 20px;
	margin: 5px 0px;
	color: #585858;
}*/

div#label-column {
	min-height: 1000px;
	padding: 5px 2px 2px 5px;
	border-left: solid 2px #424242;
}

div#label-column ul {
	padding: 0px;
}

span.label {
	color: #FAFAFA;
	font-size: 12px;
	border-radius: 3px;
	display: inline-block;
	margin: 1px;
	padding: 3px 5px;
}

.labelon {
	background-color: #0489B1; 
}

.labeloff {
	background-color: #87C7DA; 
}


















